body {max-width:600px; margin-left:3%; margin-right: 3%; font-family: Arial, Helvetica, sans-serif;}
a {
    text-decoration: none;
    color: blue; /* #0645ad; */
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: blue;
    /* #0b0080; */
}
ul {
  padding-left: 20px;
}
    
